<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add CAtegory Form</title>
<style type="text/css">
	form{
		margin: auto;
	}
</style>
</head>
<body>

	<form action="/categories/add" method="POST">
		<label style="font-size: 24px; font-weight: bold;">Add Category From</label><br>
		<input type="text" name="name" placeholder="Category Name"/><br>
		<input type="text" name="description" placeholder="Category description"/><br>
		<input id="submit" type="submit" name="submit" value="Add Category"/><br>
		
	</form>

</body>
</html>