<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="std" class="com.rajkabee.springFrameworkExample.literalInjection.Student">
        	<constructor-arg name="id" value="321"/>
        	<constructor-arg name="name" value="Binam Dahal"/>
        	<constructor-arg name="email" value="Binam@gmail.com"/>
        </bean>
        <bean id="sts" class="com.rajkabee.springFrameworkExample.literalInjection.Student"></bean>
        <bean id="st" class="com.rajkabee.springFrameworkExample.literalInjection.Student">
        	<property name="id" value="123"/>
        	<property name="name" value="Sudhitr Sapkota"/>
        	<property name="email" value="sudhir@gmail.com"/>
        </bean>
        
        
 </beans>