<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="javaCourse" class="com.example.springFrameworkDI.literalInjection.Course">
        	<property name="id" value="123"/>
        	<property name="title" value="Java Fullstack Developement Course"/>
        	<property name="duration" value="120"/>
        </bean>
        <bean id="angularCourse" class="com.example.springFrameworkDI.literalInjection.Course">
        	<constructor-arg name="id" value="432"/>
        	<constructor-arg name="title" value="Angular Developmant Course"/>
        	<constructor-arg name="duration" value="45"/>
        </bean>
        
</beans>